#ebayspy-toolbar-button2 {
	list-style-image: url("chrome://ebayspy/skin/images/ebayspy16.png");
	width: 32px;
	height: 32px;
	padding: 0px;
	padding-left: 6px;
}

menuitem#ebayspy-menu-button {
  list-style-image: url("chrome://ebayspy/skin/status-bar.png");
}


#ebayspy-status-bar-icon {
list-style-image: url("chrome://ebayspy/skin/status-bar.png");
cursor: pointer;
	width: 24px;
	margin: 0 5px;
}

.ebayspy-selected {
	outline: 2px solid red !important;
}


#ebayspy-back
{
	padding-top: 15px;
	border: 0px solid green;
	float: left;
	margin-right: 40px;
	margin-left: 5px;
}

#ebayspy-back img
{
	border: 0;
}

 img.ebayspy-images
{
	border: 0;
}

#ebayspy-my-carusel
{
	padding: 0px;
	margin: 0px;
	border: 0px solid #ACA9A6;
	float: left;
	background: white;
}

#ebayspy-next
{
	padding-top: 15px;
	border: 0px solid green;
	float: right;
	margin-left: 7px;
	margin-right: 5px;
}

#ebayspy-next img
{
	border: 0;
}





.ebayspy-block 
{
	width: 80px;
	height: 57px;
	margin-left: 2px; /*Creates the 2px gap between each column*/
	padding: 2px;
	background: transparent;
	border: 0px solid #ACA9A6;
}


.ebayspy-images2
{
	height: 40px;
	width: 40px;
	padding: 1px;
	/*padding-left: 5px;*/
	border: 0px solid #ACA9A6;
}



.ebayspy-myprice
{
	margin-top: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 0px;
	color: #FF3F0F;
	font-size: 9px;
	font-weight: bold
}


.ebayspy-myprice2
{
	margin-top: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 0px;
	color: #E5B300;
	font-size: 9px;
	font-weight: bold
}

.ebayspy-myprice3
{
	margin-top: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 0px;
	color: #10B531;
	font-size: 9px;
	font-weight: bold
}
/*.floatleft
{
	float: left;
}*/



#ebayspy-my-menu {
  padding:0;
  margin:0;
  float: left;
  }
#ebayspy-my-menu li {
  list-style-type:none;
  float: left;
  	padding: 0px;
	margin: 0px;
	font-size:13px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-weight: bold;
	line-height: 15px;
	text-align: left;
  }
  
  
  
  
  
  
  
/*/////////////////////////////*/ 

	
  #ebayspy-refine
{
	border: 0px solid #11ee00;
	margin-left: 6px;
	float: left;
}

  #ebayspy-divSearch
{
	border: 0px solid #11ee00;
	margin-left: 4px;
	float: left;
}

  #ebayspy-minPrice
{
	font-size: 11px;	
	margin-left: 2px;
	margin-right: 5px;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 2px;
	height: 17px;
	border: 1px solid #555555;
	font-family:Arial;
}

  .minmax-label
{
	margin-left: 2px;
	
	margin-right: 0px;
	float: left;
	margin-top: 3px;
	text-align: left;
}

#ebayspy-maxPrice
{
	font-size: 11px;
	margin-left: 2px;
	margin-right: 0px;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 2px;
	height: 17px;
	border: 1px solid #555555;	
	font-family:Arial;
}

#ebayspy-maxPriceDiv
{
	float: left;
}

#ebayspy-minPriceDiv
{
	float: left;
}

#ebayspy-refineSearch
{
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 2px;
	height: 17px;
	margin-left: 3px;	
	margin-right: 0px;
	border: 1px solid #555555;	
	font-family: Arial;
}

#ebayspy-searchsubmit
{
	padding-left: 2px;
	margin-left: 6px;
	margin-top: 2px;
	padding-right: 2px;
	font-size: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	border: 1px solid #555555;
	height: 19px;
	cursor: pointer;
	font-family:Arial;
}

#ebayspy-ebayHeader input[type="submit"]:hover, input[type="button"]:hover 
{
	border: 1px solid #000000; background: #eeeeee; color: #002EAD;
}
#ebayspy-ebayHeader input[type="submit"]:active, input[type="button"]:active 
{
	border: 1px solid #000000; background: #aaaaaa; color: #001960;
}

#ebayspy-ebayHeader input::-moz-focus-inner { border: 0; }

#ebayspy-convertcurrency-button
{
	padding-left: 2px;
	margin-left: 6px;
	margin-top: 2px;
	padding-right: 2px;
	font-size: 11px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	border: 1px solid #555555;
	height: 19px;
	float: left;
	cursor: pointer;
	font-family:Arial;
}

#ebayspy-refineSearchDiv
{
	float: left;
}

#ebayspy-searchsubmitDiv
{
	float: left;	
}


#ebayspy-pages
{
	border: 0px solid #11ee00;
	margin-left: 8px;
	margin-top: 3px;
	float: left;
	/*width: 130px;*/
}


  #ebayspy-close-bar
{
	margin-right: 5px;
	padding: 0px;
	border: 0px solid #11ee00;
	margin-top: 3px;
	float: right;
	cursor: pointer;
}

  #ebayspy-rightnow
{
	margin-right: 5px;
	margin-top: 3px;
	padding: 0px;
	border: 0px solid #11ee00;
	float: right;
}

  #ebayspy-shipping-loader
{
	margin-right: 7px;
	margin-top: 6px;
	padding: 0px;
	border: 0px solid #11ee00;
	float: right;
}

  #ebayspy-shippingCountryFlag
{
	margin-right: 7px;
	margin-top: 6px;
	padding: 0px;
	border: 0px solid #11ee00;
	float: right;
}

  #ebayspy-get-shipping
{
	margin-right: 7px;
	margin-top: 3px;
	padding: 0px;
	border: 0px solid #11ee00;
	float: right;
	cursor: pointer;
}

  #ebayspy-facebook
{
	margin-right: 5px;
	margin-top: 3px;
	padding: 0px;
	border: 0px solid #11ee00;
	float: right;
}

#ebayspy-facebook img
{
	border: 0;
}

  #ebayspy-load-div
{
	margin-top: 0px;
	padding: 0px;
	border: 0px solid #11ee00;
	background: transparent;
}
 

 #ebayspy-div-1c {
 clear:both;
 border: 0px solid #11ee00;
}

#ebayspy-form
{
	font-family:Arial;
  padding-bottom: 2px;  
  text-align: left;
  float: left;
	
}

#ebayspy-ebay
{
	height: 61px;  
	padding: 1px;  
	text-align: left;
	/*position: relative;*/
	border-bottom: 1px solid #999999;
	background: white;	
	text-decoration:none;
	z-index: 99999;
}

#ebayspy-ebayHeader
{
	font-family:Arial; 
	COLOR: black;
	font-size:13px;
	font-weight: normal;
	height: 23px;  
	padding: 1px;
	padding-top: 2px;  
	padding-bottom: 2px;
	text-align: left;
	/*position: relative;*/
	background:#cecece;
	border-bottom: 1px solid #999999;	
	z-index: 99999;
}

#ebayspy-ebayHeader a
{
	font-family:Arial; 
	font-size:13px;
	font-weight: normal;
	color:black; 
	text-decoration:underline;
}


#ebayspy-ebayHeader a:focus{outline:none;}
#ebayspy-ebayHeader a:link, #ebayspy-ebayHeader a:active{color:#000;text-decoration:none;border-bottom:0px solid #95a0aa;}
#ebayspy-ebayHeader a:visited{color:#000;text-decoration:none;border-bottom:0px solid #95a0aa;}
#ebayspy-ebayHeader a:hover{color:#3a3a3a;text-decoration:none;border-bottom:0px solid #f90;}

#ebayspy-ebay a:link, #ebayspy-ebay a:active, #ebayspy-ebay a:visited, #ebayspy-ebay a:focus{color:#000;text-decoration:underline;border-bottom:0px solid #95a0aa;}
#ebayspy-ebay a:hover{color:red;text-decoration:underline;border-bottom:0px solid #f90;}


#ebayspy-next a:link, #ebayspy-next a:active, #ebayspy-next a:visited, #ebayspy-next a:focus{color:#000;text-decoration:underline;border-bottom:0px solid #95a0aa;}
#ebayspy-next a:hover{color:red;text-decoration:underline;border-bottom:0px solid #f90;}
#ebayspy-next a:focus{outline:none;}

#ebayspy-back a:link, #ebayspy-back a:active, #ebayspy-back a:visited, #ebayspy-back a:focus{color:#000;text-decoration:underline;border-bottom:0px solid #95a0aa;}
#ebayspy-back a:hover{color:red;text-decoration:underline;border-bottom:0px solid #f90;}
#ebayspy-back a:focus{outline:none;}


#ebayspy-ebayFooter
{
	font-family:Arial; 
	font-size:13px;
	height: 10px;  
	padding: 1px;  
	text-align: left;
	/*position: relative;*/
	background:#cecece;
	border-bottom: 1px solid #999999;
	z-index: 99999;	
}

  #ebayspy-myform
{
	border: 0px solid #11ee00;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}

.ebayspy-xstooltip 
{
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 99999; 
	min-width:290px;

    font: normal 8pt sans-serif; 
    /*padding: 4px 8px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 0px;
	border: 1px solid rgba(255,255,255,0.25);
	/*background-color: black;*/
	color: white;
	line-height: 18px; 
	
	/*filter: alpha(opacity=50);*/
	/*-moz-opacity: 0.5;*/
	/*-khtml-opacity: 0.5;*/
	/*opacity: 0.9;	*/
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.95);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	.ebayspy-xstooltip  {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
}

.ebayspy-xstooltip img
{
    padding: 5px; 
	margin-bottom: 5px;
    border: solid 1px #999999;
}

.itemLocation img
{
    padding: 0px; 
	margin-bottom: -2px;
    border: solid 0px #999999;
}

.ebayspy-xstooltip div
{
	margin-bottom: 1px;
}



/*popup section******************************/

.ebayspy-popup 
{
    visibility: hidden; 
    position: fixed; 
    top: 0;  
    left: 0; 
    z-index: 2147483647; 
	width: 330px;
	height: 69px;	
    padding: 0;
	margin: 0;    
	border-style: none !important;    
    -moz-box-shadow: 1px 1px 10px #666 !important;    
	-moz-border-radius: 3px !important;    
	/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgb(254,254,254)), color-stop(1,rgb(211,211,211))) !important;	*/
	background-image: -moz-linear-gradient(top, rgb(254,254,254), rgb(211,211,211)) !important;
    /*overflow: auto !important;*/
	overflow: hidden;
	opacity: 1 !important;
	text-align: left;
}

.ebayspy-titlebar
{
	cursor: move;
	display: block;
	margin: 0px 0px 0px 0px !important;
	font-size: 12px !important;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	padding: 2px 0px 2px 5px !important;
	text-align: left !important;
	color: #3b3b3b !important;	
	/*background-image: -moz-gradient(linear, left top, left bottom, from(#D6D6D6), to(#B0B0B0), color-stop(.6,#B3B3B3)) !important;	*/
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0) !important;	
	border-bottom: solid 1px #999 !important;	
	line-height: 18px !important;
	height: 18px !important;
	text-shadow: none !important;
	-moz-border-radius-topleft: 3px !important;
	-moz-border-radius-topright: 3px !important;
}

#ebaybox-popup-form-div
{
	float: left;
}

#ebaybox-popup-search-box 
{
	margin: 0px !important;
	padding: 0px !important;
	border: 1px solid #AAA !important;
	width: 317px !important;
	background-color: #FFF !important;
	-moz-border-radius: 2px !important;
	font-size: 0.6em !important;
	opacity: 1 !important;
	text-align: left;	
	float: left;
}


#ebaybox-popup-search-textbox 
{
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	padding-right: 0px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-left:21px !important;
	outline: none !important;
	border: 0px !important;  
	background-image:url('images/ebayspy16.png');
	background-repeat:no-repeat !important;
	background-position:3px 2px !important;  
	font-family: arial !important;
	font-size: 13px !important;
	width: 267px !important;
	text-shadow: none !important;
	text-align: left;
}

#ebaybox-popup-search-button 
{
	margin-top: 5px !important;
	margin-right: 5px !important;
	float: right !important;
	border: 0px !important;
	max-width: 16px !important;
}

#ebaybox-popup-form-div
{
	margin-top: 8px !important;
	margin-left: 5px !important;
}

#ebayspy-popup-overlay
{
	background-color: black !important;
	opacity: 0.4;
	position : fixed;
	z-index : 2147483646 !important;
	left     :0;
	top      :0;  
}

.ebaybox-popupClass
{
	height: 200px;
	width: 315px;
	border: 1px solid #7DACCE !important;
	background: white !important;
	overflow: hidden;
}

.ebaybox-autocomplete-row 
{
	float:left;
	clear:both;
	text-align: left;
	font-size:13px !important;
	line-height: 16px !important;
	font-family:arial !important;
	width:311px !important;
	cursor:default !important;
	padding-top:1px !important;
	padding-bottom:3px !important;
	padding-left:21px !important;
	color:#1e1e2e !important;
	overflow: hidden;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	-moz-user-select : none !important;
}

.ebaybox-autocomplete-row.selected
{
	 background-color:#d5e2ff !important;
}
